<div ng-init="Init()">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-collapse" id="toolbar">
                            <div class="nav navbar-nav">
                                <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#newEmployee" title="Novo Funcionário">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    Novo Funcionário
                                </button>

                                <button type="button" class="btn btn-default navbar-btn" title="Atualizar" ng-click="Init()">
                                    <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </nav>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Email</th>
								<th>Cargo</th>
								<th>Empresa</th>
								<th>Salário</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="employee in employees">
								<td>{{ employee.name }}</td>
								<td>{{ employee.email }}</td>
								<td>{{ employee.office.name }}</td>
								<td>{{ employee.company.name }}</td>
								<td>{{ employee.salary }}</td>
								<td class="text-center">
									<button class="btn btn-default" ng-click="FindByIdEmployee(employee.id)">
										<i class="glyphicon glyphicon-pencil"></i>
									</button>
								</td>
								<td class="text-center">
									<button class="btn btn-danger" ng-click="ConfirmDeleteEmployee(employee.id)">
										<i class="glyphicon glyphicon-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="newEmployee" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						Novo Funcionário
					</h4>
				</div>

				<div class="modal-body">
					<form>
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" ng-model="employee.name" placeholder="Nome" required="required">
						</div>

						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" ng-model="employee.email" placeholder="Email" required="required">
						</div>

						<div class="form-group">
							<label>Empresa</label>
							<select class="form-control"
									ng-model="employee.company"
									ng-options="company as company.name for company in companies track by company.id">
									<option value="">Selecione a Empresa</option>
							</select>
						</div>

						<div class="form-group">
							<label>Cargo</label>
							<select class="form-control"
									ng-model="employee.office"
									ng-options="office as office.name for office in offices track by office.id">
								<option value="">Selecione o Cargo</option>
							</select>
						</div>

						<div class="form-group">
							<label>Salário</label>
							<input type="text" class="form-control" ng-model="employee.salary" placeholder="Salário" required="required">
						</div>
					</form>
				</div>

				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary" ng-click="CreateEmployee($event)" data-loading-text="Salvando" class="btn btn-primary" autocomplete="off">Salvar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="editEmployee" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">
						Novo Funcionário
					</h4>
				</div>

				<div class="modal-body">
					<form>
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" ng-model="editEmployee.name" placeholder="Nome" required="required">
						</div>

						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" ng-model="editEmployee.email" placeholder="Email" required="required">
						</div>

						<div class="form-group">
							<label>Empresa</label>
							<select class="form-control"
									ng-model="editEmployee.company"
									ng-options="company as company.name for company in companies track by company.id">
									<option value="">Selecione a Empresa</option>
							</select>
						</div>

						<div class="form-group">
							<label>Cargo</label>
							<select class="form-control"
									ng-model="editEmployee.office"
									ng-options="office as office.name for office in offices track by office.id">
								<option value="">Selecione o Cargo</option>
							</select>
						</div>

						<div class="form-group">
							<label>Salário</label>
							<input type="text" class="form-control" ng-model="editEmployee.salary" placeholder="Salário" required="required">
						</div>
					</form>
				</div>

				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary" ng-click="UpdateEmployee($event, editEmployee.id)" data-loading-text="Salvando" class="btn btn-primary" autocomplete="off">Salvar</button>
				</div>
			</div>
		</div>
	</div>

</div>